
.DS_Store
*.log
*.env
*.env.local


node_modules/


frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.vscode/


backend/node_modules/
backend/.env
backend/.vscode/


.idea/
.vscode/
*.suo
*.njsproj
*.sln
*.sw?
